.addproduct-title {
    color: var(--white-color);
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

.table {
    background-color: var(--white-color);
    width: 98%;
    margin: 10px;
    color: var(--white-color);
}

.table-head-row {
    background-color: var(--primary-color);
    height: 40px;
    padding: 10px 15px;
    font-size: 1.3rem;
}

.table-head-btn {
    width: 16%;
}

.table-data {
    padding: 5px 15px;
    font-size: 1.1rem;
}

.table-data-edit-btn {
    background-color: green;
    width: 100px;
    height: 38px;
    font-size: 1.1rem;
    color: var(--white-color);
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.table-data-edit-btn:hover {
    background-color: rgba(1, 144, 1, 0.631);
}

.table-data-delete-btn {
    background-color: red;
    width: 100px;
    height: 38px;
    font-size: 1.1rem;
    color: var(--white-color);
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.table-data-delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.601);
}