.grid{
    background-color: var(--background-color);
}
.Dashboard-title{
    text-align: center;
    padding-top: 20px;
    font-size: 2.5rem;
    color: var(--white-color);
    letter-spacing: 0.3rem;
}
.grid-container {
    margin: 1rem auto 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "category-filter product product product"
        "category-filter product product product";
    gap: 2rem;
    margin: 20px;
}

.category-filter {
    grid-area: category-filter;
}

.product {
    grid-area: product;
    border: 1px solid var(--white-color);
}

@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column for smaller screens */
        grid-template-rows: auto; /* Adjust rows as per content */
        grid-template-areas: 
            "category-filter"
            "product"
            "product"
            "product";
        gap: 0.2rem;
    }
}
